.signInText {
    font-size: 13px;
}

.signInImage {
    width: 40px;
}

.signInDiv:hover {
    border: 1px solid cyan;
    border-radius: 10px;
}

.tab:hover {
    border: 1px solid cyan;
    border-radius: 10px;
}

.logo {
    width: 150px;
}

.outerDiv {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .outerDiv {
        margin-left: 0px;
        margin-right: 0px;
    }
}