.mainDiv {
 
    margin-left: 305px;
    margin-right: 305px;
    border: red solid 2px;

}

.div {
    border: 1px solid red;
    display: inline-block;
    width: 300px;
    /* Adjust the width as needed */
    margin-right: 2%;
    margin-top: 2%;
    /* Adjust the spacing between the divs */
    vertical-align: top;
    /* Align the divs at the top */
    box-sizing: border-box;
    /* Include padding and border in the width */
    border: 1px solid #ccc;
    /* Optional: Add border for visual separation */
}

.pagination {
   margin-top: 50px;
    bottom: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .mainDiv {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .div {
        border: 1px solid red;
        display: inline-block;
        width: 100%;
    }
}